	<footer>
        <p><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a><br/>
        Powered by <a href="https://github.com/jdjkelly/mixcastr">Github</a> and <a href="http://www.heroku.com/">Heroku</a></p>
      </footer>