<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mixcastr</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/fonts/font.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://stratus.heroku.com/css/stratus.css"/>
    

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- Le jQuery and les scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="http://connect.soundcloud.com/2/latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap-twipsy.js" type="text/javascript"></script>
    <script src="/js/bootstrap-popover.js" type="text/javascript"></script>
    
    
    <script type="text/javascript" src="http://stratus.heroku.com/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="http://stratus.heroku.com/js/soundcloud.player.api.js"></script>
    <script type="text/javascript" src="http://stratus.heroku.com/js/stratus.js"></script>
    <script>
      $(document).ready(function() {


        $("#search")
          .focus(function() {
                if (this.value === this.defaultValue) {
                    this.value = '';
                }
          })
          .blur(function() {
                if (this.value === '') {
                    this.value = this.defaultValue;
                }
        });

        SC.initialize({
          client_id: "3c3aecf09c9a6e46e721f6118612ca59",
        });
        
        SC.get("/tracks?client_id=3c3aecf09c9a6e46e721f6118612ca59&filter=streamable&order=hotness&q=<%= @query %>", function(trackData){
          console.log(trackData);
          for (i=0;i<=49;i++) {
            if (trackData[i].artwork_url != null) {
              var artwork = trackData[i].artwork_url
            }
            var alttag = trackData[i].title
            var streamurl = trackData[i].stream_url
            var permaurl = trackData[i].permalink_url
            var client_id = "3c3aecf09c9a6e46e721f6118612ca59"
            var description = trackData[i].description
            var title = trackData[i].title
            if (artwork != null && streamurl != null) {
              $('.media-grid').append('<li><a class="test" href="#" data-url="' + streamurl + '" onclick="swapPlayer(\'' + encodeURIComponent(streamurl) + '\',\'' + escape(title) + '\')" data-content="And here\'s some amazing content. It\'s very engaging. right?"><img class="thumbnail" src="' + artwork + '"></a></li>');
            }
            var artwork = null
          }
        });
        
      });

      $('.media-grid a').live('click', function(){
        $('.media-grid a').removeClass('playing');
        $(this).addClass('playing');
      })

      $('.media-grid a').live('hover', function(){
        $(this).popover('show');
      })

      function swapPlayer(url,title) {
          $('#player, .nowPlaying').remove();
          $('.nav').append('<li class="nowPlaying"><a href="#">' + unescape(title) + '</a></li>');
          $('.nav').before('<audio id="player" src="' + decodeURIComponent(url) + '?client_id=3c3aecf09c9a6e46e721f6118612ca59" type="audio/mp3" preload="auto" >');
          var audio_file1 = document.getElementById('player');
          audio_file1.play();     
        }

      function swapPlayerNew(url) {   
        $('.stratus-bottom').remove();   
        $.stratus({
          auto_play: true,
          animate: false,
          color: "000000",
          links: [ { url: decodeURIComponent(url) } ]
        });
      }
      

    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand molot" href="/">Mixcastr</a>
          <ul class="nav" style="float:right;"></ul>
          <form class="pull-left" action="" style="display:none;">
            <input type="text" name="q" placeholder="Search" value="<%= @query %>">
          </form>
        </div>
      </div>
    </div>
    

  <%= yield %>

       
  </body>
</html>