<script type="text/javascript" src="http://polymaps.org/polymaps.min.js?2.5.0"></script>
<script type="text/javascript" src="http://polymaps.org/nns.min.js?1.1.0"></script>

<div id="map">

</div>

<script>
var po=org.polymaps,map=po.map().container(document.getElementById("map").appendChild(po.svg("svg"))).add(po.interact()).add(po.hash());map.add(po.image().url(po.url("http://{S}tile.cloudmade.com/b02a201feb4246538874f3bad7e4de42/999/256/{Z}/{X}/{Y}.png").hosts(["a.","b.","c.",""])));map.add(po.compass().pan("none"));
</script>