#map {
	margin-top:-20px;
}

.map {
	position:fixed;
}

.hero-tracks {
	width: 940px;
}

.media-grid a {
	border:1px white;

}

.media-grid a:hover {
}

.media-grid a img {
	width: 109px;
}

.topbar-inner, .topbar .fill {
	background-color: rgba(0, 13, 21, 0.9) !important;
}

.content {
	background-color: rgba(0, 13, 21, 0.9);
padding: 20px;
margin: 0 -20px;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
	z-index:2;
	position:absolute;
	top: 40px;
}

body {
        padding-top: 60px; 
      }
      #player {
        float:right;
        margin-top:5px;
        margin-right:35px;
      }
      .nowPlayer {
        float:right;
      }
      .playing {
        border-color: #0069d6 !important;
        -webkit-box-shadow:  0 0 15px rgba(0, 105, 214, 0.55) !important;
        -moz-box-shadow:  0 0 15px rgba(0, 105, 214, 0.55) !important;
        box-shadow:  0 0 15px rgba(0, 105, 214, 0.55) !important;
      }

      footer {border:none !important;margin:none;padding:none;}

.hero-unit {
	width: 820px;
	background:none;
	color:white !important;
}

.hero-unit h1 {
	color:white !important;
}

.content a {color:#0183a0 !important;}