<div class="hero-unit">
 <h1>Search, Organize, Listen.</h1>
  <p>
  	<form action="/tracks" class="span6 offset2" method="get">
		  <input class="span5" id="q" name="q" type="text" value="">
		  <input class="btn btn-large" type="submit" value="Search">
	</form>
  </p>
</div>