#stratus {
	bottom: 0px !important;
	background:whiteSmoke;
	position: fixed;
	left: 0;
	z-index: 1000;
	iframe {
		margin:0 auto;
		display:block;
		width:85% !important;
	}
	.open, .open iframe {
		height: 139px !important;
	}
	#drawer #artwork {
		height:84px !important;
		width:84px !important;
	}
	#drawer ul#tracks {
		margin-left: 106px !important;
	}
}
